.side-filters {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  width: 320px;
  height: 100%;
  /* background-color: #253053; */
  overflow: hidden;
  margin-top: 100px;
}

.header-title {
  font-weight: 700;
}

.categories-container {
  position: relative;
}

.filter-categories {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  border-bottom: 1px solid #e9e9ed;
  border-right: 1px solid #edebef;
}

.vertical-filterHeader {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 18px;
  color: #282c3f;
  display: block;
}

.category-filters {
  position: absolute;
  top: 240px;
  left: 0;
  width: 320px;
  height: 100%;
}

.filter-checkbox {
  display: block;
  width: 95%;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  min-height: 17px;
  color: #282c3f;
}

.category-list {
  list-style: none;
  text-transform: uppercase;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.category-list input[type="checkbox"] {
  margin: 0 16px 0 0;
  width: 16px;
  height: 16px;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 2px;
}

.brand-filters {
  position: absolute;
  top: 450px;
  left: 0;
  width: 320px;
  height: 100%;
}
