.filter-checkbox {
  display: block;
  width: 95%;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  min-height: 17px;
  color: #282c3f;
}

.category-list {
  list-style: none;
  text-transform: uppercase;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.category-list input[type="checkbox"] {
  margin: 0 16px 0 0;
  width: 16px;
  height: 16px;
  border: 1px solid #c3c2c9;
  background: #fff;
  border-radius: 2px;
}
